.modal-search{

   min-height: 100vh !important;
   background-color: rgba(0, 0, 0, 0.74);

   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
   border: 0px solid #000000;
   
}

.modal-body{
}
